/*header*/
header{
  border-bottom: solid;
}

.head1{
  color: blue;
  font-size: 60px;
  font-family: cursive;
}

.head2{
  color: red;
  font-family: cursive;
}

/*body*/
h2{
  font-family: cursive;
  font-family: cursive;
}
